.flexboxdiv
{
    background-color: lightgray;
    height: 100px;
    width: 100%;
    padding: 10px;
    display: inline-flex;
}

.flexboxdiv .child
{
    margin: auto;
    padding: 10px 75px;
}


.flexboxdiv .child p
{
    margin: auto;
}

.flexboxdiv .child .title
{
    font-size: 50px;
}

.flexboxdiv .child .text
{
    font-size: 12px;
}

.container
{
    border: 2px solid black;
    width: 1200px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.container .item
{
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    width: 350px;
    margin: 20px 25px;
}

.container .item .textitem
{
    margin: 10px;
    font-size: 12px;
}

.container .item a
{
    margin: 10px;
    font-size: 12px;
    text-decoration: none;
}

.menu
 {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    background-color: black;
}

.menuitem
{
    width: 100px;
}

.menuitem a 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menuitem a:focus
{
    background-color: grey;
}

.container1
{
    background-color: gray;
    height: 450px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    flex-wrap: wrap;
}

.container1 .article
{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.container1 .article a
{
   font-size: 20px;
   margin: 10px;
   text-decoration: none;
}

.container1 .article span
{
   margin: 10px;
}

.imagesdiv
{
    background-color: slategray;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.imagesdiv img
{
   background-color: gray;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   margin: auto 30px;
}